
.challengeNotActive{
    width: 70%;
}

.challengeNotActive strong{
    font-size: 1.3rem;    
}

.challengeNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    max-width: 70%;
    margin:  45px auto ;
}

.challengeNotActive p img{
    height: 4.5rem;
    width: 3.7rem;
    margin-bottom: 2rem;

}

.challengeBoxContainer{
    height: 68%;

    background: var(--White_Blur);
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(15, 16, 80, 0.25);
    padding: 1.5rem 1.5rem;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    
}

.challangeActive {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.challangeActive header{
    color: var(--green);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 1rem 1.5rem;
    border-bottom: 1px solid var(--line_xp);
}

.challangeActive main {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--textos);

    padding: 1.5rem 0;
}

.challangeActive main strong {
    font-size: 2rem;
    margin-top: 2.2rem;
}

.challangeActive main p {
    padding: 1.5rem 1.5rem;
    line-height: 1.4rem;
}

.challangeActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;

}

.challangeActive footer button{
    height: 3rem;
    width: 10rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    /* background: var(--blue); */
    border-radius: 8px;
    color: var(--White);
    font-size: 1.1rem;
    font-weight: 500;

}

.challengeFailedButton{
    background: #FE6A7C;
}

.challengeConcluedButton {
    background: #05ca02;
}

.challengeFailedButton:hover{
    background: #e02d42;
}

.challengeConcluedButton:hover {
    background: #038801;
}

