.completedChallengeContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3rem 0;

    color: var(--White);
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #cdd1da;
}

.completedChallengeContainer span:first-child{
    font-size: 1.1rem;
}

.completedChallengeContainer span:last-child{
    font-size: 1.5rem;
}